p{
	color: white;
	font-family: OpenType, arial;
}
h1{
	color: orange;
	font-family: OpenType, arial;
	
}
h2{                          
	color: rgb(255,170,0);	
	font-family: OpenType, arial;
}
h3{
	color: white;
	font-family: OpenType, arial;
}
a{
	color: Blue;
	
}

body{
	background: rgb(54,57,63 );
	text-align: center;
	
	
}
div{
	font-size: 50px;
}
#tmh{
	color: Green;
}


.dirt{
	background-image: url(../img/dirt.jpg);
	background-position: right bottom, left top;
	background-repeat: repeat;
	
}
.dark{
	background-image: url(../img/dark.png);
	background-position: right bottom, left top;
	background-repeat: repeat;
	
}
.especi{
	color: black;
	
}
.endstone{
	background-image: url(../img/endstone.png);
	background-position: right bottom, left top;
	background-repeat: repeat;
	
}
.nav{
	position: absolute;
	left: 0px;
	top: 0px;
	
}

.logo {
	position: absolute;
	left: 8px;
	top: 10px;	
	
}

.myButton {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
	position
}
.myButton:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.myButton:active {
	position:relative;
}
.indexb {
	position: absolute;
	left: 40px;
	top: 5px;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #34aa2f 5%, #34aa2f 100%);
	background-color:#34aa2f;
	border-radius:0px;
	border:3px solid #9ad597;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
	position
}
.indexb:hover {
	background:linear-gradient(to bottom, #333333 5%, #333333 100%);
	background-color:#333333;
	border:3px solid #676767;
}
.indexb:active {
	position:absolute;
	
}
.discordb {
	position: absolute;
	left: 170px;
	top: 5px;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #34aa2f 5%, #34aa2f 100%);
	background-color:#34aa2f;
	border-radius:0px;
	border:3px solid #9ad597;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
	position
}
.discordb:hover {
	background:linear-gradient(to bottom, #333333 5%, #333333 100%);
	background-color:#333333;
	border:3px solid #676767;
}
.discordb:active {
	position:absolute;
}
.mcserverb {
	position: absolute;
	left: 288px;
	top: 5px;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #34aa2f 5%, #34aa2f 100%);
	background-color:#34aa2f;
	border-radius:0px;
	border:3px solid #9ad597;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
	position
}
.mcserverb:hover {
	background:linear-gradient(to bottom, #333333 5%, #333333 100%);
	background-color:#333333;
	border:3px solid #676767;
}
.mcserverb:active {
	position:absolute;
}
